@media (min-width: 376px) {
 .container{
   max-width: 768px;
 }
 .header{
  &__menu{
    li:nth-child(10),
    li:nth-child(11){
    display: inline-block;
    }
    &-drop{
      padding-left: 68px;
      li:nth-child(9),
      li:nth-child(10){
        display: none;
      }
    }
   }
  &__search-wrapper{
    padding: 10px 0 30px;
    button{
      display: block;
      margin: 0 auto;
    }
  }
  &__item-search__input{
    padding-left: 9vw;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0 68px;
    background-color: #fff;
    border: none;
    align-items: start;
    input{
      width: 38.6vw;
      border-bottom: 1px solid #707070;
      background-color: #fff;
    }
  }
  &__mobile-search{
    display: none;
  }
  &__desktop-search{
    display: block;
    padding-top: 20px;
  }
  &__wrapper-searchbtn{
    background-color: #fff;
    margin: 0 68px;
    padding: 46px 0 59px;
  }
 }
 .container__fluid{
   max-width: 1199px;
 }
 hr{
   display: none;
 }
.flowersinbox{
  &__wrapper-img{
    height: 320px;
  }
}
.allbouquets__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.bouquets__card.sectioncards__cards{
  justify-content: end;
}
.bouquets__wrapper{
  display: flex;
}
.bouquets__card{
  position: relative;
  max-width: 344px;
}
.bouquets__card:nth-child(2){
  display: none;
}
.bouquets__card-title{
  display: block;
  position: absolute;
  left: 10px;
  top: -22px;
}
.catalog__menu{
  display: none;
}
.catalog__menu-drop{
  display: block;
  border: none;
  margin-bottom: 60px;
  padding-top: 30px;
}
.catalog__filter-icon{
  display: none;
}
.catalog__filter{
  display: block;
}
.adress.all_bouquets{
  display: none;
}
.adress__map{
  iframe{
    width: 100vw;
  }
}
.adress__contacts{
  margin-top: 30px;
}
 .catalog{
   padding-top: 60px;
   &__wrapper-card{
     margin-bottom: 30px;
   }
  }
  .sectioncards__cards-item.catalog__wrapper-card{
    margin: 30px auto 0px;
  }
  .sectioncards__cards-item{
    margin: 30px 10px 0px;
  }
  .product{
    &__cards-item{
      margin: 0 auto;
    }
    &__wrapper{
      margin: 0 auto;
    }
    &add__title{
      text-align: center;
    }
    &view__title{
      text-align: center;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 470px) {
.header {
  &__top{
    padding-top: 76px;
    padding-bottom: 50px;
    border-bottom: 1px solid #EDEDED;
    &-logo{
      width: 447px;
      height: 56px;
    }
  }
  &__wrapper{
    border: none;
  }
 }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 769px) {
 .container{
   max-width: 1199px;
   padding: 0 68px;
 }
  .bestsellers{
   &__title{
     display: block;
   }
   &__title-mobile,
   &__text-mobile{
     display: none;
   }
   &__cards-slider{
     display: none;
   }
   &__cards{
    display: flex;
  }
 }
  .flowersinbox{
  &__wrapper{
    flex-direction: row;
    &-img{
      width: 50%;
      height: auto;
      img{
        height: 100%;
      }
    }
    &-description{
      width: 50%;
    }
  }
 }
 .catalog__menu-drop,
 .catalog__filter{
   margin-left: 68px;
   padding-left: 0;
 }
 .bouquets{
   .container{
     padding: 0;
   }
 }
 .bouquets__wrapper{
   margin-right: 68px;
 }
 .bouquets__card-title{
   left: 0;
 }
 .bouquets__card:nth-child(2){
  display: flex;
}
  .adress{
  .container{
    max-width: 1199px;
    padding: 0 68px;
  }
  &__wrapper{
    flex-direction: row;
  }
  &__map{
    iframe{
      width: 720px;
      height: 380px;
    }
  }
  &__contacts{
    max-width: 405px;
    max-width: 100%;
    position: absolute;
    right: 8.3vw;
  }
 }
  .adress__wrapper.catalog__adress {
   margin-top: 90px;
   margin-bottom: 120px;
 }

 .onlineshow{
  margin-bottom: 120px;
  &__wrapper{
    padding: 70px 0;
  }
  &__content{
    padding: 60px;
  }
  &-text{
    max-width: 450px;
  }
 }
 .boxwithflowers{
  margin-bottom: 120px;
  &__cards-slider{
    display: none;
  }
  &__cards{
   display: flex;
  }
  &__title{
    display: block;
  }
 }
 .footer{
   &__wrapper-menu{
     display: flex;
   }
 }
 .sectioncards__cards-item{
   margin-left: 0;
   margin-right: 0;
    &:nth-child(4){
    display: none;
  }
 }
 .bouquets__cards-item.sectioncards__cards-item:nth-child(4){
    display: block;
  }
  .bouquets__cards-item.sectioncards__cards-item{
    margin-left: 8px;
    margin-right: 8px;
  }
  .pagination{
    display: block;
  }
  .product{
    &__catalog-submenu{
      display: block;
      position: absolute;
      top: -53px;
      left: -35px;
    }
    &__wrapper{
      position: relative;
      display: flex;
      padding-top: 112px;
      &-slider{
        max-width: 460px;
        display: none;
      }
      &-title.mobile{
        display: none;
      }
      &-title.desktop{
      display: block;
     }
     &-description{
       padding-top: 0;
       padding-bottom: 140px;
     }
     &-btns{
       justify-content: start;
     }
     &-description{
       max-width: 500px;
     }
     &-contents{
      max-width: 460px;
    }
    &-content{
      display: none;
      &.active{
        display: block;
      }
      &s{
        display: block;
        min-width: 460px;
      }
    }
     &-tabs{
      display: flex;
      position: absolute;
      left: 490px;
      top: 474px;
      div + div{
        margin-left: 20px;
      }
      .product__wrapper-tab:nth-child(3){
        display: none;
      }
    }
   }
   &__inner{
    margin-left: 30px;
  }
  &__btn{
    padding: 12px 0px;
    margin-left: 0;
  }
  &add{
    padding-top: 60px;
    &__title{
      text-transform: uppercase;
      text-align: left;
      font-size: 24px;
      line-height: 29px;
  }
 }
 &view{
  padding-top: 60px;
  margin-bottom: 120px;
  &__title{
    text-transform: uppercase;
    text-align: left;
    font-size: 24px;
    line-height: 29px;
  }
 }
 &__cards-item:nth-child(1),
 &__cards-item:nth-child(2),
 &__cards-item:nth-child(3){
    display: block;
  }
 }
 .modal{
   padding-top: 200px;
   &__basket{
     padding-top: 200px;
   }
   &__content{
    padding: 80px 68px 69px;
    width: auto;
   }
   &__title{
    letter-spacing: 0.26px;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 30px
   }
   &__contents{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    align-items: start;
    &-img{
      display: block;
      margin-right: 20px;
    }
    &-product{
      margin-right: 156px;
      &__name{
        font-size: 32px;
        line-height: 43px;
        letter-spacing: 0.26px;
      }
      &__price{
        display: block;
        font-family: 'Exo 2', sans-serif;
        text-align: left;
      }
    }
    &-counter{
      display: block;
      .counter{
        margin-right: 32px;
        font-family: "Exo 2",sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-total{
      text-transform: uppercase;
      font-size: 24px;
      line-height: 29px;
    }
   }
   &__close-mobile{
     display: none;
    }
    &__close-desktop{
      display: block;
  }
 }
 .total__price-price{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
 }
 .modal__basket .modal__contents-product__price{
   text-transform: uppercase;
   span{
     display: none;
   }
 }
 .total__price{
   justify-content: space-between;
 }
 .total__price-text{
   display: block;
 }
 .buyasguest{
   width: auto;
   padding-left: 60px;
   padding-right: 60px;
 }
 .or{
   display: block;
 }
 .basket{
   .container{
     padding: 0;
   }
   &__title{
     display: block;
   }
   &__wrapper{
     background-color: #fff;
     padding-top: 40px;
     padding-bottom: 71px;
     border-top: 1px solid #707070;
     border-bottom: 1px solid #707070;
     margin-bottom: 120px;
     &-account{
       display: flex;
       justify-content: center;
       &__user{
         margin-right: 80px;
       }
       &__user,
       &__create{
         width: 100%;
       }
     }
   }
   &__text{
     max-width: 708px;
     margin: 0 auto;
   }
 }
 .promo{
  .basket__wrapper{
    padding: 26px 46px 29px 71px;
  }
  .modal__contents-product{
    &::before{
      display: none;
    }
  }
  .modal__contents-img{
    margin-left: 30px;
    position: relative;
    &::before{
      position: absolute;
      content: 'X';
      left: -50px;
      top: 60px;
      font-size: 25px;
      line-height: 27px;
      font-weight: 100;
    }
   }
  .modal__contents-product__price{
    display: none;
  }
  .modal__contents-product__price.promo{
    display: block;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.13px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
    span{
      display: none;
    }
  }
  .modal__contents-product {
    padding-left: 26px;
    margin-right: 100px;
  }
  .total__price-price{
    display: block;
  }
  label{
    span{
      padding-left: 0px;
    }
    span:nth-child(1){
      display: none;
    }
  }
  .input__mobile{
    display: none;
  }
  .input__desktop{
    display: inline-block;
    width: 274px;
  }
  .promo__price{
    display: none;
  }
  .btn__inner{
    margin-top: 73px;
    justify-content: center;
    button:nth-child(1){
      display: none;
    }
    button:nth-child(2){
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      margin-left: 15px;
      text-decoration: underline;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0px;
      font-family: 'Exo 2', sans-serif;
      margin-right: 60px;
    }
  }
 }
 .payment{
  .basket__wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .basket__title{
    text-align: center;
  }
  &__pay-title,
  &__delivery-title{
    margin-bottom: 30px;
  }
  input,
  textarea{
    max-width: 100%;
  }
  .input__wrapper{
    display: flex;
    input{
      width: 400px;
    }
    label:nth-child(2){
      display: block;
      margin-left: 20px;
      margin-bottom: 0;
    }
   }
   .total__price{
     max-width: 820px;
     margin: 0 auto;
     justify-content: start;
     align-items: end;
     border-top: 1px solid #707070;
   }
   .total__price-text {
     max-width: 100%;
     margin-right: 20px;
   }
   .btn__inner {
     justify-content: center;
     button:nth-child(1){
       margin-right: 60px;
     }
   }
   .payment__inner{
     max-width: 820px;
     width: 100%;
     margin-top: 60px;
   }
  }
  .luck__pay{
    .basket__text{
      display: block;
    }
    &-order-text,
    &-order-number{
      display: inline-block;
    }
    &-order-text{
      margin-right: 22px;
    }
    &-title{
      span{
        display: inline-block;
      }
    }
   }
 }



//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 1200px) {
  .container{
    max-width: 1476px;
    padding: 0 20px;
  }
  .header{
    &__wrapper{
      justify-content: center;
    }
    &__menu{
      li:nth-child(1){
        display: none;
      }
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(4),
      li:nth-child(5),
      li:nth-child(6),
      li:nth-child(7),
      li:nth-child(8),
      li:nth-child(9),
      li:nth-child(10),
      li:nth-child(11){
      display: inline-block;
     }
    }
    &__item-search__input{
      input{
        width: 463px;
      }
    }
    &__search-wrapper{
      max-width: 1436px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }
    &__item-search__input{
      margin: 0;
    }
    &__wrapper-searchbtn{
      margin: 0;
    }
  }
  .container__fluid{
    max-width: 100%;
    background-color: #F7F7F7;
  }
  .main{
    .container{
      padding: 0 20px;
    }
  }
  .sectioncards__cards-item:nth-child(4){
    display: block;
  }

  .flowersinbox{
    &__wrapper{
      max-height: 480px;
      &-description{
        padding-top: 117px;
        padding-left: 68px;
        padding-right: 100px;
        padding-bottom: 132px;
      }
    } 
    &__description{
      &-title{
        max-width: 100%;
      }
      &-text{
        max-width: 100%;
      }
    }
    .container{
      padding: 0 20px;
    }
  }
  
  .adress{
    &__delivery{
      margin-left: 20px;
    }
    &__contacts{
      position: relative;
      right: 0;
      margin-left: -101px;
      padding: 60px 51px 60px 40px;
    }
    .container{
      max-width: 1476px;
      padding: 0 20px;
    }
  }


  .onlineshow{
    .container{
      padding: 0 20px;
    }
  }
  .sectioncards__cards-item:hover .cards__item-img img{
    transform: scale(1.05);
    transition: all 1s;
  }
  .catalog__wrapper-card{
    &:hover .cards__item-img img{
      cursor: pointer;
    }
    &:hover .cards__item-part{
      text-decoration: underline;
      transition: all .5s;
      cursor: pointer;
    }
  }
  .allbouquets__wrapper{
    max-width: 1476px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 119px;
  }
  .bouquets__wrapper{
    margin-right: 0px;
  }
  .bouquets__card-title{
    left: 8px;
  }
  .bouquets__card:nth-child(3){
    display: flex;
  }

 .product{
   padding-top: 0;
   &__wrapper{
    &-tabs{
      left: 0;
      top: 625px;
      .product__wrapper-tab:nth-child(3){
        display: flex;
      }
    }
  }
   &__menu-drop{
     display: block;
   }
   &add{
     padding-top: 172px;
   }
 }
 .content__inner{
   display: flex;
 }
 .basket{
   .container{
     padding: 0 20px;
   }
   &__wrapper{
     border-left: 1px solid #707070;
     border-right: 1px solid #707070;
   }
 }
 .luck__pay{
  .basket__text{
    display: none;
  }
 }
}
